/* header {
  background-color: #333;
  color: #fff;
  padding: 10px;
} */
header {
  background-color: #f7f7f7;
  color: #447446;
  border-bottom: 1px solid #447446;
  /* padding: 10px; */
}
body {
  background-color: #f7f7f7;
  /* color: #447446; */
  padding: 50px;

}
 /* .Menu {
  display: grid;
  grid-template-columns: auto auto auto;
 
} 
.Menu li {
  margin-left: 20px;
}
.Menu a {
  color: #fff;
  text-decoration: none;
  text-align: center;
} */ 
.Banner {
	
}
.Logo {
  display: flex;
  align-items: center; 
  font-size: x-large;
}

.Logo img {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  color: #fff;
  padding: 10px 20px;
  height: 25px;
  border-bottom: 1px solid #447446;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #447446;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
  /* font-size: small; */
}

.menu a {
  text-decoration: none;
  color: #447446;
}

@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      background-color: #f7f7f7;
      position: absolute;
      top: 100px;
      width: fit-content;
      left: 0;
      right: 0;
      padding: 20px;
  }

  .menu.active {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}

.cabanas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
 
} 
.cabana-item {
  /* border: 1px solid #ccc; */
  padding: 10px;
  text-align: center;
  /* width: 20%; */
}
.cabana-item img {
  width: 100%;
}
@media only screen and (min-width: 600px) {
.mapa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}
@media only screen and (max-width: 600px) {
  .mapa {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  }
@media only screen and (min-width: 300px) {
  .cabanas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr);  */
    gap: 10px; 
   
  } 
  }
  @media only screen and (min-width: 600px) {
    .cabanas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* grid-template-rows: repeat(2, 1fr);  */
      gap: 10px; 
     
    } 
    }

.cabecera a{
  color: #447446;
}
.titulo-iframe{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #447446;
  font-size: x-large;
  font-weight: bold;
}
.slideshow {
  display: flex;
  /* width: 100%; */
  /* height: 100vh; */
  height: 20%;
  animation: fade 8s infinite;
  margin-top: 20px;
}
/*  
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
} 
@keyframes fade {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
} */

.desc-cabana {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  /* float: left; */
  /* position: relative; */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.desc-cabana p{
  color: #447446;
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.desc-cabana-titulo h2{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ddd;
  color: #447446;

  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formulario{
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 30vh; 
  margin-top: 30px;
}
.slides {
  display: flex;
  transition: transform 1s ease-in-out;
}
.slide {
  flex: 0 0 30%; 
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 1s; */
}

@keyframes rotate {
  0%, 100% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-20%);
  }
  50% {
      transform: translateX(-40%);
  }
  75% {
      transform: translateX(-60%);
  }
}
.contenido{
  padding-left: 30px;
  padding-right: 30px;
}
/* input[type="text"] {
  border: none;
} */